#blog {
	width: 900px;
	height: 800px;
}

#blog h1 {
	background-color: #ccc;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-indent: 10px;
	text-align: center;
}

#blog div {
	border: 1px solid #ccc;
	border-top: none;
	height: 750px;
}