#reg {
	width: 900px;
	height: 800px;
}

#reg h1 {
	background-color: #ccc;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-indent: 10px;
	text-align: center;
}

#reg div {
	border: 1px solid #ccc;
	border-top: none;
	height: 750px;
}

#reg div dl {
	width: 300px;
	margin: 0px auto;
	padding-top: 10px;
}

#reg div dl dt {
	font-weight: bold;
}

#reg div dl dd {
	padding-top: 10px;
}

#reg div dl dd label.text {
	display: inline-block;
	width: 60px;
	height: 18px;
	text-align: justify;
	text-align-last: justify;	// 加了这句中文才会两端对齐
}

#reg div dl dd input.text {
	width: 180px;
	height: 18px;
	border: 1px dashed #999;
	background-color: #fff;
	text-indent: 8px;
}

#reg div dl dd input.yzm {
	width: 60px;
	margin-right: 20px;
}

#reg div dl dd img.face {
	text-align: center;
}

#reg div dl dd input.submit {
	height: 25px;
	border: 1px dashed #999;
	background-color: #fff;
	cursor: pointer;
}